@charset "UTF-8";

div#tv-radio{
    width: 900px;
    height: 580px;
    margin: auto;
    background: url(../_imagens/radio-tv.png) no-repeat;
}

audio#musica {
    display: block;
    position: relative;
    top: 505px;
    left: 572px ;
    width: 300px;
}

video#filme {
    display: block;
    position: relative;
    top:90px ;
    left: 82px;
    width: 450px;
}